@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'ViaodaLibre';
    src: url('./fonts/ViaodaLibre-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}