$white: #ffffff;
$gray: #f5f5f5;
$black: #000000;

.menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transform: scaleY(0);
    transform-origin: top;

    .menu-wrapper {
        width: 85%;
        height: 90%;
        padding: 40px;
        position: relative;
        opacity: 0;

        .menu-content {
            display: flex;
            height: 100%;
            justify-content: space-between;

            .menu-content-left {
                flex: 0 0 30%;
                max-width: 30%;

                .menu-title {
                    position: relative;
                    height: 100%;

                    img {
                        width: auto;
                        height: 90%;
                        display: block;
                    }


                }

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            .menu-content-right {
                flex: 0 0 25%;
                max-width: 25%;
                display: flex;
                flex-direction: column;

                img {
                    width: auto;
                    height: auto;
                    margin: auto;

                    @media (max-width: 1024px) {
                        width: auto;
                        height: 10vh;
                        margin-bottom: 50px;
                    }
                }

                ul {
                    padding: 0;
                    list-style: none;
                    margin-bottom: 30px;
                    flex: 0 0 20%;

                    .nav-link {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        span {
                            display: block;
                            height: 1px;
                            width: 20%;
                            background-color: white;
                            transform: scaleX(0);
                            transform-origin: left;
                        }

                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 23px;
                            text-align: right;
                            color: $white;
                            cursor: pointer;

                            @media (max-width: 1366px) and (max-height: 768px) {
                                font-size: 18px;
                                line-height: 21px;
                            }

                            @media (max-width: 1280px) and (max-height: 720px) {
                                font-size: 16px;
                                line-height: 19px;
                            }

                            @media (max-width: 800px) and (max-height: 600px) {
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }

                        &.active {
                            span {
                                transform: scaleX(1);
                            }
                        }

                        @media (max-width: 1280px) and (max-height: 720px) {
                            margin-bottom: 20px;
                        }
                    }

                    @media (max-width: 1366px) and (max-height: 768px) {
                        margin-bottom: 10px;
                    }

                    @media (max-width: 767px) {
                        flex: 0 0 15%;
                    }
                }

                .nav-content-wrapper {
                    flex: 0 0 75%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .nav-content {
                        display: none;

                        .prize-detail {
                            padding: 20px;
                            border: 1px solid $white;
                            margin-bottom: 30px;

                            .prize-detail-b {
                                margin-bottom: 15px;

                                h5 {
                                    font-size: 30px;
                                    line-height: 26px;
                                    color: $white;
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: bold;
                                    text-align: right;
                                    text-transform: uppercase;
                                    margin-bottom: 10px;

                                    @media (max-width: 1366px) and (max-height: 768px) {
                                        font-size: 24px;
                                        line-height: 20px;
                                    }

                                    @media (max-width: 1280px) and (max-height: 1024px) {
                                        font-size: 24px;
                                        line-height: 20px;
                                    }

                                    @media (max-width: 1280px) and (max-height: 720px) {
                                        font-size: 22px;
                                        line-height: 18px;
                                    }

                                    @media (max-width: 800px) and (max-height: 600px) {
                                        font-size: 16px;
                                        line-height: 12px;
                                    }

                                    @media (max-width: 1024px) {
                                        text-align: center;
                                    }
                                }

                                span {
                                    display: block;
                                    color: $white;
                                    font-size: 18px;
                                    line-height: 22px;
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: normal;
                                    text-align: right;
                                    text-transform: uppercase;

                                    @media (max-width: 1366px) and (max-height: 768px) {
                                        font-size: 14px;
                                        line-height: 18px;
                                    }

                                    @media (max-width: 1280px) and (max-height: 1024px) {
                                        font-size: 14px;
                                        line-height: 18px;
                                    }

                                    @media (max-width: 1280px) and (max-height: 720px) {
                                        font-size: 12px;
                                        line-height: 16px;
                                    }

                                    @media (max-width: 800px) and (max-height: 600px) {
                                        font-size: 10px;
                                        line-height: 14px;
                                    }

                                    @media (max-width: 1024px) {
                                        text-align: center;
                                    }
                                }

                                @media (max-width: 800px) and (max-height: 600px) {
                                    margin-bottom: 5px;
                                }
                            }

                            .prize-detail-n {
                                p {
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 17px;
                                    text-align: right;
                                    color: $white;

                                    @media (max-width: 1366px) and (max-height: 768px) {
                                        font-size: 12px;
                                        line-height: 15px;
                                    }

                                    @media (max-width: 1280px) and (max-height: 1024px) {
                                        font-size: 12px;
                                        line-height: 15px;
                                    }

                                    @media (max-width: 800px) and (max-height: 600px) {
                                        font-size: 10px;
                                        line-height: 13px;
                                    }

                                    @media (max-width: 1024px) {
                                        text-align: center;
                                    }
                                }
                            }

                            @media (max-width: 800px) and (max-height: 600px) {
                                padding: 15px;
                                margin-bottom: 15px;
                            }

                            @media (max-width: 1024px) {
                                padding: 0px;
                                margin-bottom: 40px;
                                border: none;
                            }
                        }

                        .result-num {
                            margin-bottom: 40px;

                            span {
                                color: $white;
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 14px;
                                display: block;
                                margin: 3px 0;
                                text-align: center;

                                @media (max-width: 1366px) and (max-height: 768px) {
                                    font-size: 10px;
                                    line-height: 12px;
                                }

                                @media (max-width: 1280px) and (max-height: 1024px) {
                                    font-size: 10px;
                                    line-height: 12px;
                                }

                                @media (max-width: 800px) and (max-height: 600px) {
                                    font-size: 9px;
                                    line-height: 10px;
                                }
                            }

                            h4 {
                                font-size: 95px;
                                line-height: 1;
                                text-transform: uppercase;
                                font-family: 'ViaodaLibre';
                                font-style: normal;
                                font-weight: normal;
                                color: $white;
                                text-align: center;

                                @media (max-width: 1366px) and (max-height: 768px) {
                                    font-size: 75px;
                                }

                                @media (max-width: 1280px) and (max-height: 1024px) {
                                    font-size: 75px;
                                }

                                @media (max-width: 1280px) and (max-height: 720px) {
                                    font-size: 70px;
                                }

                                @media (max-width: 800px) and (max-height: 600px) {
                                    font-size: 60px;
                                }
                            }

                            @media (max-width: 800px) and (max-height: 600px) {
                                margin-bottom: 20px;
                            }
                        }

                        .result-btn-gr {
                            display: flex;
                            justify-content: space-between;

                            .result-btn {
                                background-color: $white;
                                border: 1px solid $black;
                                outline: none;
                                cursor: pointer;
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 16px;
                                margin: 0 15px;
                                padding: 15px 30px;
                                transition: all 0.4s;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                    border: 1px solid $white;
                                }

                                @media (max-width: 1366px) and (max-height: 768px) {
                                    font-size: 12px;
                                    line-height: 14px;
                                    padding: 10px 25px;
                                }

                                @media (max-width: 1280px) and (max-height: 1024px) {
                                    font-size: 12px;
                                    line-height: 14px;
                                    padding: 10px 25px;
                                }

                                @media (max-width: 1280px) and (max-height: 720px) {
                                    font-size: 11px;
                                    line-height: 13px;
                                }

                                @media (max-width: 1024px) and (max-height: 768px) {
                                    padding: 10px 20px;
                                    margin: 0 10px;
                                }

                                @media (max-width: 800px) and (max-height: 600px) {
                                    padding: 8px 18px;
                                    margin: 0 10px;
                                    font-size: 10px;
                                    line-height: 13px;
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        flex: 0 0 65%;
                    }
                }

                @media (max-width: 1680px) and (max-height: 1050px) {
                    flex: 0 0 35%;
                    max-width: 35%;
                }

                @media (max-width: 800px) and (max-height: 600px) {
                    flex: 0 0 45%;
                    max-width: 45%;
                }

                @media (max-width: 1024px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .team-logo {
            position: absolute;
            bottom: 0;
            left: 3%;
            width: 8%;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            @media (max-width: 767px) {
                bottom: 5%;
                left: 5%;
                width: 25%;
            }
        }

        .close-btn-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;

            .close-btn {
                padding: 22px;
                background-color: $white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: all 0.4s;

                    @media (max-width: 1680px) and (max-height: 1050px) {
                        width: 70%;
                    }

                    @media (max-width: 800px) and (max-height: 600px) {
                        width: 55%;
                    }
                }

                &:hover {
                    img {
                        transition: all 0.4s;
                        transform: rotate(360deg);
                    }
                }

                @media (max-width: 1680px) and (max-height: 1050px) {
                    padding: 15px;
                }

                @media (max-width: 800px) and (max-height: 600px) {
                    padding: 10px 8px;
                }
            }

            @media (max-width: 767px) {
                bottom: 5%;
                right: 5%;
            }
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            padding: 20px;
        }
    }
}